@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap');
/*https://colorhunt.co/palette/2763*/
*{
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  font-family: 'Lexend';
  color: #eeeeee;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f7f7f7;
  background-color: #393e46;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 1120px;
  margin: 0px auto;
}

a{
  text-decoration: none;
}